@import url("https://fonts.googleapis.com/css?family=Barlow|Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
/* global */
a {
  font-family: "Barlow", sans-serif;
  cursor: pointer;
  text-decoration: none !important;
  color: #fff;
}

img {
  background-color: #fff;
}

i {
  color: #fff;
  padding-right: 5px;
  cursor: pointer;
}

h5 {
  font-family: "Fredoka One", cursive;
}

* {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list-display {
  display: block !important;
  margin-top: 7px;
}

.list-display-2 {
  display: block !important;
  margin: 1.5rem 0 auto;
  text-align: center;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
}

/* global */
/*header */
.bf-head {
  height: 3px;
}

.bf-head .row {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.bf-head span {
  height: 3px;
  background-color: #fe0000;
  display: inline-block;
}

.bf-head span:nth-of-type(2) {
  background-color: #fdfe02;
}

.bf-head span:nth-of-type(3) {
  background-color: #0bff01;
}

.bf-head span:nth-of-type(4) {
  background-color: #011efe;
}

.bf-head span:nth-of-type(5) {
  background-color: #fe006f;
}

.bf-head span:nth-of-type(6) {
  background-color: #fdfe02;
}

.bf-head span:nth-of-type(7) {
  background-color: #0bff01;
}

.bf-head span:nth-of-type(8) {
  background-color: #011efe;
}

.bf-head span:nth-of-type(9) {
  background-color: #fe016a;
}

.bf-head span:nth-of-type(10) {
  background-color: #fdfe02;
}

.bf-head span:nth-of-type(11) {
  background-color: #0bff01;
}

.bf-head span:nth-of-type(12) {
  background-color: #b913ac;
}

header .row {
  margin: 0 !important;
}

header .contact-top {
  background: #4ac1f7;
  width: 100%;
  margin: 0 !important;
}

header .contact-top span {
  color: #fff;
}

header .contact-top .wall {
  height: 18px;
  width: 2px;
  background-color: #fff;
  display: inline-block;
  margin: auto 10px;
}

header .contact-top .icon-login a:hover span {
  color: #0068d6;
}

header .contact-top .icon-login a:hover i {
  color: #0068d6;
}

@media (max-width: 576px) {
  header .contact-top .icon-login {
    display: none;
    text-align: center !important;
  }
}

header .contact-top .stacks-btn {
  display: none;
}

@media (max-width: 576px) {
  header .contact-top .stacks-btn {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  header .contact-top .icon-div {
    display: none;
    text-align: center !important;
  }
}

header .contact-top .icon-div i {
  padding-left: 20px;
}

header .contact-top .icon-div i:hover {
  color: #0068d6;
}

/* Nav */
.navbar {
  background: #ffffff !important;
}

.navbar .navbar-toggler {
  border-color: #FF5716;
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin-right: 28px;
}

@media (max-width: 330px) {
  .navbar .navbar-toggler {
    margin: 2px auto;
  }
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  padding-left: 3px;
}

.navbar .navbar-toggler .navbar-toggler-icon i {
  line-height: 31px;
  color: #1f5a99;
  font-size: 1.4em;
}

.navbar .navbar-collapse {
  -webkit-box-flex: unset !important;
      -ms-flex-positive: unset !important;
          flex-grow: unset !important;
}

.navbar .navbar-collapse .navbar-nav .search {
  height: 45px;
  width: 45px;
  background: #5e459b;
  border-radius: 50%;
  margin-left: 17px;
  padding-left: 15px;
  color: #fff;
  cursor: pointer;
}

.navbar .navbar-collapse .navbar-nav .search:hover {
  background-color: #ee82ee;
}

.navbar .navbar-collapse .navbar-nav .search:hover .fa-search {
  color: #000 !important;
}

.navbar .navbar-collapse .navbar-nav .search .fa-search {
  line-height: 44px;
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 17px;
  z-index: 1000;
  float: left;
  min-width: 12rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item:focus {
  color: #0068d6;
  text-decoration: none;
  background-color: transparent !important;
}

.navbar .navbar-collapse .navbar-nav .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-left: 0.3em solid;
  border-bottom: 0.3em solid transparent;
  border-right: 0;
  border-top: 0.3em solid transparent;
}

.navbar .navbar-collapse .navbar-nav .dropdown-toggle:hover::after {
  border-top: 0.3em solid;
  border-left: 0.3em solid transparent;
  border-bottom: 0;
  border-right: 0.3em solid transparent;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 15px;
  border: 1px solid transparent;
  padding: 9px 22px;
}

.navbar .navbar-collapse .navbar-nav .nav-link:hover {
  background: #FF5716;
  color: #fff;
  border-radius: 120px;
}

.navbar .navbar-collapse .navbar-nav .active .nav-link {
  background: #FF5716;
  color: #fff;
  border-radius: 120px;
  padding: 9px 22px;
}

/* header */
/* slider */
.slider {
  position: relative;
}

.slider .text-bg {
  position: absolute;
  left: 6%;
  top: 2%;
  z-index: 1;
  height: 100%;
  width: 42%;
}

.slider .text-bg img {
  background-color: transparent !important;
  height: 100%;
  width: 100%;
}

.slider .slider-text1 {
  position: absolute;
  left: 5%;
  top: 30%;
  z-index: 3;
  text-align: center;
  height: 100%;
  width: 42%;
}

.slider .slider-text1 h1 {
  text-transform: capitalize;
  font-family: "Concert One", cursive;
  font-size: 3.5vw;
}

@media (max-width: 768px) {
  .slider .slider-text1 h1 {
    margin-bottom: 0.1em;
    padding-bottom: 0em !important;
    line-height: 1;
  }
}

.slider .slider-text1 h1 span:first-of-type {
  color: #e91e63;
}

.slider .slider-text1 h1 span:nth-of-type(2) {
  color: #88d914;
}

.slider .slider-text1 h1 span:nth-of-type(3) {
  color: #ffd237;
}

.slider .slider-text1 button {
  color: #fff;
  background: #FF5716;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 0.75vw 1vw;
  font-size: 1.228vw;
  margin-top: 1.5em;
  display: inline-block;
}

.slider .slider-text1 button:hover {
  background: #fff;
  color: #000;
}

.slider .slider-text-parent {
  position: absolute;
  height: 55%;
  width: 41%;
  background: #4ac1f7;
  z-index: 3;
  border: 10px solid #fff;
  color: #fff;
  text-align: center;
  left: 7%;
  top: 21%;
}

@media (max-width: 991px) {
  .slider .slider-text-parent {
    border: 5px solid #fff;
  }
}

.slider .slider-text-parent .slider-text-2 {
  width: 90%;
  height: 90%;
}

.slider .slider-text-parent .slider-text-2 h1 {
  font-family: "Concert One", cursive;
  font-size: 3.5vw;
  color: #fff;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

@media (max-width: 768px) {
  .slider .slider-text-parent .slider-text-2 h1 {
    margin-bottom: 0.1em;
    padding-bottom: 0em !important;
    line-height: 1;
  }
}

.slider .slider-text-parent .slider-text-2 button {
  color: #fff;
  background: #FF5716;
  padding: 0.7vw 1vw;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1.228vw;
}

@media (max-width: 768px) {
  .slider .slider-text-parent .slider-text-2 button {
    margin-top: 1.3em;
    display: inline-block;
  }
}

.slider .slider-text-parent .slider-text-2 button:hover {
  background: #fff;
  color: #000;
}

.slider .slider-text3 {
  position: absolute;
  left: 13%;
  top: 7%;
  z-index: 3;
  text-align: center;
}

.slider .slider-text3 h1 {
  text-transform: capitalize;
  font-family: "Concert One", cursive;
  font-size: 3.5vw;
  color: #fff;
}

@media (max-width: 768px) {
  .slider .slider-text3 h1 {
    margin-bottom: 0.1em;
    padding-bottom: 0em !important;
    line-height: 1;
  }
}

.slider .slider-text3 p {
  font-family: "Concert One", cursive;
  font-size: 2vw;
  color: #fff;
}

@media (max-width: 768px) {
  .slider .slider-text3 p {
    margin-bottom: 0.1em;
    padding-bottom: 0em !important;
    line-height: 2.5;
  }
}

.slider .slider-text3 button {
  color: #fff;
  background: #FF5716;
  padding: 0.75vw 1vw;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1.228vw;
  margin-top: 1.5em;
  display: inline-block;
}

.slider .slider-text3 button:hover {
  background: #fff;
  color: #000;
}

.slider .carousel-control-next-icon {
  background-image: none;
  color: #fff;
  background: #FF5716;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .slider .carousel-control-next-icon {
    height: 15px;
    width: 15px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .slider .carousel-control-next-icon:hover {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

.slider .carousel-control-next-icon i {
  font-size: 1.5em;
  padding: 0.07em;
}

@media (max-width: 768px) {
  .slider .carousel-control-next-icon i {
    font-size: 0.9em;
    padding: 0.03em;
    position: absolute;
    left: 2px;
  }
}

.slider .carousel-control-prev-icon {
  background-image: none;
  color: #fff;
  background: #FF5716;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .slider .carousel-control-prev-icon {
    height: 15px;
    width: 15px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .slider .carousel-control-prev-icon:hover {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

.slider .carousel-control-prev-icon i {
  font-size: 1.5em;
  padding: 0.07em;
}

@media (max-width: 768px) {
  .slider .carousel-control-prev-icon i {
    font-size: 0.9em;
    padding: 0.03em;
    position: absolute;
    left: 2px;
  }
}

/* slider */
/*about-us*/
.about-us {
  margin-top: 6rem;
}

.about-us .title {
  text-align: center;
}

.about-us .title h1 {
  color: #ff337a;
  font-size: 3.5vw;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0.5em;
}

.about-us .title h1 span {
  color: #000;
  padding-right: 0.3em;
}

.about-us .title img {
  display: block;
  margin: 0rem auto;
}

.about-us .mycard {
  text-align: center;
  border: 1px solid #f4f4f4;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-us .mycard:nth-of-type(2) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .about-us .mycard {
    max-width: 22%;
    margin-right: 45px;
  }
}

@media (min-width: 320px) and (max-width: 1199px) {
  .about-us .mycard br {
    display: none;
  }
}

@media (min-width: 992px) {
  .about-us .mycard {
    max-width: 22%;
    margin-right: 38px;
  }
  .about-us .mycard h4 {
    font-size: 1em !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-us .mycard {
    max-width: 47%;
    margin-right: 43px;
    margin-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .about-us .mycard {
    margin-bottom: 36px;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto !important;
  }
}

.about-us .mycard img {
  display: block;
}

.about-us .mycard h4 {
  font-family: "Fredoka One", cursive;
  font-size: 1.3em;
}

.about-us .mycard:nth-of-type(1) p {
  font-family: "Barlow", sans-serif;
  color: #b48b3c;
}

.about-us .mycard:nth-of-type(1) button {
  background: #b48b3c;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Barlow", sans-serif;
  border: transparent;
  border-radius: 5px;
}

.about-us .mycard:nth-of-type(1):hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  border-color: #b48b3c !important;
}

.about-us .mycard:nth-of-type(2) p {
  font-family: "Barlow", sans-serif;
  color: #6ca04a;
}

.about-us .mycard:nth-of-type(2) button {
  background: #6ca04a;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Barlow", sans-serif;
  border: transparent;
}

.about-us .mycard:nth-of-type(2):hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  border-color: #6ca04a !important;
}

.about-us .mycard:nth-of-type(3) p {
  font-family: "Barlow", sans-serif;
  color: #3ec1eb;
}

.about-us .mycard:nth-of-type(3) button {
  background: #3ec1eb;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Barlow", sans-serif;
  border: transparent;
}

.about-us .mycard:nth-of-type(3):hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  border-color: #3ec1eb !important;
}

.about-us .mycard:nth-of-type(4) p {
  font-family: "Barlow", sans-serif;
  color: #fd6ca3;
}

.about-us .mycard:nth-of-type(4) button {
  background: #fd6ca3;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Barlow", sans-serif;
  border: transparent;
}

.about-us .mycard:nth-of-type(4):hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 18px 16px -6px rgba(0, 0, 0, 0.1);
  border-color: #fd6ca3 !important;
}

/*about-us*/
/*services*/
.services {
  margin-top: 6rem;
  position: relative;
  background: #5e459b;
  background-position-y: 100%;
  height: auto;
}

@media (max-width: 1199px) {
  .services {
    background: #5e459b;
    background-size: 100%;
    background-position-y: 26rem;
  }
}

@media (max-width: 767px) {
  .services {
    background-position-y: 50%;
  }
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9px;
  background: #5e459b url(../images/zig-zag-img.png) repeat-x;
}

.services::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 9px;
  background: #5e459b url(../images/zig-zag-imga.png) repeat-x;
}

.services .title {
  text-align: center;
}

.services .title h2 {
  color: #fff;
  font-size: 3.5vw;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0.5em;
  padding-top: 2em;
}

@media (max-width: 992px) {
  .services .title h2 {
    padding-top: 85px;
  }
}

.services .title h2 span {
  color: #abbaff;
  padding-right: 0.3em;
}

.services .title img {
  background: transparent;
}

.services .service {
  margin-top: 5em;
  padding-bottom: 3.5em;
  padding-left: 11.5rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .services .service {
    margin-top: 3em;
    padding-bottom: 5.5em;
    padding-left: 10em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .services .service {
    margin-top: 3em;
    padding-bottom: 5.5em;
    padding-left: 7em;
  }
}

@media (max-width: 767px) {
  .services .service {
    padding-left: 0;
  }
}

.services .service div {
  border: 1px dotted rgba(255, 255, 255, 0.2);
  max-width: 27%;
  text-align: center;
  padding-bottom: 50px;
  font-family: "Fredoka One", cursive;
  height: 17em;
}

@media (max-width: 767px) {
  .services .service div {
    max-width: 99%;
    border: none;
  }
}

.services .service div:nth-of-type(1) {
  border-left: none;
  border-top: none;
}

.services .service div:nth-of-type(2) {
  border-top: none;
}

.services .service div:nth-of-type(3) {
  border-right: none;
  border-top: none;
}

.services .service div:nth-of-type(4) {
  border-left: none;
  border-bottom: none;
}

.services .service div:nth-of-type(5) {
  border-bottom: none;
}

.services .service div:nth-of-type(6) {
  border-bottom: none;
  border-right: none;
}

.services .service div:hover {
  cursor: pointer;
}

.services .service div:hover p {
  display: block;
}

.services .service div:hover img,
.services .service div:hover h5 {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}

.services .service div img {
  background: transparent;
  padding-top: 3em;
  -webkit-transform: translateY(1.3em);
          transform: translateY(1.3em);
}

.services .service div h5 {
  color: #fff;
  -webkit-transform: translateY(1.3em);
          transform: translateY(1.3em);
}

.services .service div p {
  display: none;
}

.services .service div p a {
  color: #ff1;
  font-family: "Barlow", sans-serif;
}

/*services*/
/*courses*/
.courses .title {
  text-align: center;
}

.courses .title h2 {
  color: #000;
  font-size: 3.5vw;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0.5em;
  padding-top: 2em;
}

@media (max-width: 992px) {
  .courses .title h2 {
    padding-top: 85px;
  }
}

.courses .title h2 span {
  color: #00b7d1;
  padding-left: 0.3em;
}

.courses .course {
  text-align: center;
  margin-top: 6rem;
}

.courses .course div {
  margin-bottom: 3rem;
  border: 1px dotted rgba(255, 255, 255, 0.6);
}

@media (max-width: 767px) {
  .courses .course div:nth-of-type(1) {
    border: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  }
  .courses .course div:nth-of-type(2) {
    border: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin-top: -1em !important;
  }
  .courses .course div:nth-of-type(3) {
    border: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin-top: -1em !important;
  }
  .courses .course div:nth-of-type(4) {
    border: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3) !important;
    margin-top: -1em !important;
  }
  .courses .course div:nth-of-type(5) {
    border: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3) !important;
    margin-top: -1em !important;
  }
  .courses .course div:nth-of-type(6) {
    border: none;
    margin-top: -1em !important;
  }
}

.courses .course div img {
  margin-top: 4em;
}

.courses .course div h5 {
  color: #fff;
  padding-top: 2rem;
}

.courses .course div span {
  color: #fff;
  margin-bottom: 3em;
  display: inline-block;
  font-family: "Barlow", sans-serif;
}

.courses .course div:hover h5 {
  color: #666;
}

.courses .course div:hover span {
  color: #757575;
}

.courses .course div:nth-of-type(1) {
  border-left: none;
  border-top: none;
  background-color: #ff337a;
}

.courses .course div:nth-of-type(1) img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 20px;
}

.courses .course div:nth-of-type(1):hover {
  background-color: #fff;
}

.courses .course div:nth-of-type(1):hover img {
  background-color: #ff337a;
}

.courses .course div:nth-of-type(2) {
  border-top: none;
  background-color: #00b7d1;
}

.courses .course div:nth-of-type(2) img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 20px;
}

.courses .course div:nth-of-type(2):hover {
  background-color: #fff;
}

.courses .course div:nth-of-type(2):hover img {
  background-color: #00b7d1;
}

.courses .course div:nth-of-type(3) {
  border-right: none;
  border-top: none;
  background-color: #ff9439;
}

.courses .course div:nth-of-type(3) img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 20px;
}

.courses .course div:nth-of-type(3):hover {
  background-color: #fff;
}

.courses .course div:nth-of-type(3):hover img {
  background-color: #ff9439;
}

.courses .course div:nth-of-type(4) {
  border-left: none;
  border-bottom: none;
  margin-top: -3em;
  background-color: #194da0;
}

.courses .course div:nth-of-type(4) img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 20px;
}

.courses .course div:nth-of-type(4):hover {
  background-color: #fff;
}

.courses .course div:nth-of-type(4):hover img {
  background-color: #194da0;
}

.courses .course div:nth-of-type(5) {
  border-bottom: none;
  margin-top: -3em;
  background-color: #e4350a;
}

.courses .course div:nth-of-type(5) img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 20px;
}

.courses .course div:nth-of-type(5):hover {
  background-color: #fff;
}

.courses .course div:nth-of-type(5):hover img {
  background-color: #e4350a;
}

.courses .course div:nth-of-type(6) {
  border-bottom: none;
  border-right: none;
  margin-top: -3em;
  background-color: #14b939;
}

.courses .course div:nth-of-type(6) img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 20px;
}

.courses .course div:nth-of-type(6):hover {
  background-color: #fff;
}

.courses .course div:nth-of-type(6):hover img {
  background-color: #14b939;
}

/*courses*/
/* purpose */
.purposes {
  background: #ffd600 url(../images/cartoon-doodle2.png) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.purposes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9px;
  background: #ffd600 url(../images/zig-zag-img.png) repeat-x;
}

.purposes::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 9px;
  background: #ffd600 url(../images/zig-zag-imga.png) repeat-x;
}

.purposes .title {
  text-align: center;
}

.purposes .title h2 {
  color: #000;
  font-size: 3.5vw;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0.5em;
  padding-top: 2em;
}

@media (max-width: 992px) {
  .purposes .title h2 {
    padding-top: 85px;
  }
}

.purposes .title h2 span {
  color: #8e0000;
  padding-left: 0.3em;
}

.purposes .title img {
  background: #ffd600;
}

.purposes .card-deck {
  margin-bottom: 7rem;
}

.purposes .card-deck .card {
  overflow: hidden;
  height: auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .purposes .card-deck .card h5 {
    font-size: 1em;
  }
  .purposes .card-deck .card p {
    padding-top: 0.75em;
  }
}

@media (max-width: 767px) {
  .purposes .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0.7em auto;
  }
  .purposes .card-deck .card img {
    max-width: 85%;
    height: 100%;
  }
}

.purposes .card-deck .card:hover img {
  margin: 0px auto;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.purposes .card-deck .card:hover h5::before {
  -webkit-animation: movex 1s ease 0s infinite;
          animation: movex 1s ease 0s infinite;
}

.purposes .card-deck .card img {
  max-width: 95%;
  height: 100%;
  margin: 5px auto;
}

.purposes .card-deck .card .card-body h5 {
  color: #fff;
  position: relative;
  margin-bottom: 3em;
}

.purposes .card-deck .card .card-body h5::before {
  position: absolute;
  content: "\f1e3";
  font-family: FontAwesome;
  display: block;
  color: #fff;
  width: 50px;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1.2em;
  line-height: 30px;
  font-size: 30px;
}

.purposes .card-deck .card .card-body p {
  color: #fff;
  font-family: "Barlow", sans-serif;
}

@-webkit-keyframes movex {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes movex {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

/* purpose */
/* popular-courses */
.popular-courses .title {
  text-align: center;
}

.popular-courses .title h2 {
  color: #000;
  font-size: 3.5vw;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0.5em;
  padding-top: 2em;
}

@media (max-width: 992px) {
  .popular-courses .title h2 {
    padding-top: 85px;
  }
}

.popular-courses .title h2 span {
  color: #ffd600;
  padding-left: 0.3em;
}

.popular-courses .course div {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .popular-courses .course div {
    max-width: 48%;
  }
  .popular-courses .course div:nth-of-type(1) {
    margin-bottom: 2.8em;
  }
  .popular-courses .course div:nth-of-type(2) {
    margin-left: 2.8em;
    margin-bottom: 2.8em;
  }
}

@media (max-width: 767px) {
  .popular-courses .course div {
    text-align: center;
  }
}

.popular-courses .course div img {
  width: 95%;
  display: block;
  height: auto;
  margin: 10px auto;
}

.popular-courses .course div .star i:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.popular-courses .course div:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* popular-courses */
/*activity */
.activity {
  background-color: #f8f8f8 !important;
  margin-top: 10em;
}

.activity .activity-imgs img {
  background-color: #f8f8f8 !important;
}

/*activity*/
/*footer*/
.bf-footer {
  margin: 0;
  line-height: 0;
}

footer {
  position: relative;
  text-align: center;
  background: url(../images/cartoon-doolde3.png);
  background-size: cover;
  background-color: #011efe;
  overflow: visible;
}

footer img {
  margin-top: 9em;
  margin-bottom: 2em;
  border-radius: 50%;
  border: 1px solid transparent;
}

footer p {
  color: #fff;
  font-family: "Concert One", cursive;
  margin-bottom: 7em;
}

footer .icons {
  list-style: none;
  margin-bottom: -23px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  padding: 0;
}

footer .icons li {
  display: inline-block;
}

footer .icons li a {
  font-size: 1.2em;
}

footer .icons li a i {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid transparent;
  line-height: 50px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: #fff;
  margin-left: 8px !important;
}

@media (max-width: 576px) {
  footer .icons li a i {
    margin-left: 0 !important;
  }
}

footer .icons li:nth-of-type(1) i {
  color: #3162a2;
}

footer .icons li:nth-of-type(1):hover i {
  color: #fff;
  background: #3162a2;
}

footer .icons li:nth-of-type(2) i {
  color: #e30377;
}

footer .icons li:nth-of-type(2):hover i {
  color: #fff;
  background: #e30377;
}

footer .icons li:nth-of-type(3) i {
  color: #895a4d;
}

footer .icons li:nth-of-type(3):hover i {
  color: #fff;
  background: #895a4d;
}

footer .icons li:nth-of-type(4) i {
  color: #c54542;
}

footer .icons li:nth-of-type(4):hover i {
  color: #fff;
  background: #c54542;
}

footer .icons li:nth-of-type(5) i {
  color: #2caae1;
}

footer .icons li:nth-of-type(5):hover i {
  color: #fff;
  background: #2caae1;
}

.f-nav {
  background: #4ac1f7;
  position: relative;
  height: auto;
}

.f-nav .stacks-btn {
  display: none;
}

@media (max-width: 991px) {
  .f-nav .stacks-btn {
    display: block;
    margin-top: 3rem;
  }
}

.f-nav .stacks-btn i {
  border: 1px solid #eee;
  padding: 4px;
  font-size: 1.7em;
}

.f-nav ul {
  list-style: none;
  float: left;
}

@media (max-width: 991px) {
  .f-nav ul {
    display: none;
  }
}

@media (min-width: 992px) {
  .f-nav ul {
    margin-top: 3rem;
  }
}

.f-nav ul li {
  display: inline-block;
  margin-right: 14px;
}

@media (max-width: 991px) {
  .f-nav ul li {
    display: block;
    margin-right: 0px;
  }
}

.f-nav ul li a {
  font-size: 1.2em;
  font-family: "Concert One", cursive;
}

.f-nav p {
  color: #fff;
  font-family: "Concert One", cursive;
  text-align: right;
}

.f-nav p span a {
  font-family: "Concert One", cursive;
}

@media (max-width: 991px) {
  .f-nav p {
    text-align: center;
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .f-nav p {
    margin-top: 3rem !important;
  }
}

/*footer*/
/*# sourceMappingURL=style.css.map */